<div id="content" class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row m--margin-bottom-30">
                    <!-- Begin -->
                    <div class="col-md-12" style="margin-top: 10px;">
                        <fieldset>
                            <legend style='font-weight: bold!important; font-size: 15px; text-decoration:  underline'>{{_title}}</legend>
                            <div class="row">
                                <!-- Số PO -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Số PO")}}</label>
                                        <input type="text"
                                            class="form-control m-input"
                                            name="pO_CODE" 
                                            [(ngModel)]="filterInput.pO_CODE" >
                                    </div>
                                </div>
                                <!-- Hệ hàng -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Hệ hàng")}}</label>
                                        <input type="text"
                                            class="form-control m-input"
                                            name="grouP_PRODUCT_CODE" 
                                            [(ngModel)]="filterInput.grouP_PRODUCT_CODE">
                                    </div>
                                </div>
                                <!-- Đơn vị quản lý -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l('Đơn vị quản lý')}}</label>
                                        <select2-custom 
                                            name="brancH_ID" 
                                            [(ngModel)]="filterInput.brancH_ID" 
                                            [(list)]="_list_branch" 
                                            [emptyText]="l('SelectAll')"
                                            [valueMember]="'brancH_ID'" 
                                            [displayMember]="'brancH_CODE|brancH_NAME'">
                                        </select2-custom>
                                    </div>
                                </div>

                                <!-- Công đoạn -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l('Công đoạn')}}</label>
                                        <all-code-select 
                                            [cdName]="'PRODUCTED_PART_CODE'"
                                            [cdType]="'PO'"
                                            [emptyText]="l('SelectAll')"
                                            name="part" 
                                            [(ngModel)]="filterInput.part">
                                        </all-code-select>
                                    </div>
                                </div>
                    
                                <!-- Từ ngày Đến ngày: Ngày cập nhật -->
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend style='font-weight: bold; text-decoration:  underline'>{{l("Ngày cập nhật")}}</legend>
                                        <div class='row'>
                                            <!-- Từ ngày -->
                                            <div class='col-sm-6'>
                                                <div class='form-group'>
                                                    <label>{{l('Từ ngày')}}</label>
                                                    <date-control
                                                        name="frmdate"
                                                        [(ngModel)]="filterInput.frmdate">
                                                    </date-control>
                                                </div>
                                            </div>
                                            <!-- Đến ngày -->
                                            <div class='col-sm-6'>
                                                <div class='form-group'>
                                                    <label>{{l('Đến ngày')}}</label>
                                                    <date-control
                                                        name="todate"
                                                        [(ngModel)]="filterInput.todate">
                                                    </date-control>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- Từ ngày Đến ngày: Ngày user nhập -->
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend style='font-weight: bold; text-decoration:  underline'>{{l("Ngày user nhập")}}</legend>
                                        <div class='row'>
                                            <!-- Từ ngày -->
                                            <div class='col-sm-6'>
                                                <div class='form-group'>
                                                    <label>{{l('Từ ngày')}}</label>
                                                    <date-control
                                                        name="frmdate"
                                                        [(ngModel)]="filterInput.frmdatE_USER">
                                                    </date-control>
                                                </div>
                                            </div>
                                            <!-- Đến ngày -->
                                            <div class='col-sm-6'>
                                                <div class='form-group'>
                                                    <label>{{l('Đến ngày')}}</label>
                                                    <date-control
                                                        name="todate"
                                                        [(ngModel)]="filterInput.todatE_USER">
                                                    </date-control>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- Tìm kiếm -->
                                <div class="col-md-4" >
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-search"
                                            (click)="onSearch()">{{l('Tìm kiếm')}}</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Begin Table-->
                            <div class="editable-title-group">
                                <h5 class="popup-title col-md-12">{{l(_title)}}</h5>
                            </div>
                            <div class="primeng-datatable-container">
                                <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                    <thead>
                                        <tr>
                                            <!-- Begin Table Column -->
                                            <!-- STT -->
                                            <th style="width: 40px"><span >{{l("No")}}</span></th>
                                            <!-- Mã PO -->
                                            <th sortField="pO_CODE">
                                                <span style="width: 120px">{{l('Mã PO')}}</span>
                                            </th>
                                            <!-- Mã hệ hàng -->
                                            <th sortField="grouP_PRODUCT_CODE">
                                                <span style="width: 120px">{{l('Mã hệ hàng')}}</span>
                                            </th>
                                            <!-- Mã sản phẩm -->
                                            <th sortField="producT_CODE">
                                                <span style="width: 120px">{{l('Mã sản phẩm')}}</span>
                                            </th>
                                            <!-- Tên công đoạn -->
                                            <th sortField="producteD_PART_NAME">
                                                <span style="width: 80px">{{l('Tên công đoạn')}}</span>
                                            </th>
                                            <!-- User nhập -->
                                            <th sortField="makeR_ID">
                                                <span style="width: 80px">{{l('User nhập')}}</span>
                                            </th>
                                            <!-- Ngày user nhập -->
                                            <th sortField="creatE_DT">
                                                <span style="width: 120px">{{l('Ngày user nhập')}}</span>
                                            </th>
                                            <!-- Ngày cập nhật -->
                                            <th sortField="updatE_DT">
                                                <span style="width: 120px">{{l('Ngày cập nhật')}}</span>
                                            </th>
                                            <!-- Số lượng yêu cầu -->
                                            <th>
                                                <span>{{l('Số lượng yêu cầu')}}</span>
                                            </th>
                                            <!-- Số lượng đã làm -->
                                            <th>
                                                <span>{{l('Số lượng đã làm')}}</span>
                                            </th>
                                            <!-- Số lượng còn lại -->
                                            <th>
                                                <span>{{l('Số lượng còn lại')}}</span>
                                            </th>
                                            <!-- Số lượng làm -->
                                            <th>
                                                <span>{{l('Số lượng làm')}}</span>
                                            </th>
                                            <!-- SL còn lại sau cùng -->
                                            <th>
                                                <span >{{l('SL còn lại sau cùng')}}</span>
                                            </th>
                                            <!-- Ghi chú -->
                                            <th>
                                                <span style="width: 120px">{{l('Ghi chú')}}</span>
                                            </th>
                                            <!-- End Table Column -->
                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of dataTable.records" class="selectable"
                                            (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                            <!-- STT -->
                                            <td class="center"><span
                                                class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}}
                                            </td>
                                            <!-- Mã PO -->
                                            <td>
                                                <a style="color:blue; cursor: pointer;" (click)="onViewDetailPO(record)">
                                                    {{record.pO_CODE}}
                                                </a>
                                            </td>
                                            <!-- Mã hệ hàng -->
                                            <td>
                                                <a style="color:blue; cursor: pointer;" (click)="onViewDetailGroupProduct(record)">
                                                    {{record.grouP_PRODUCT_CODE}}
                                                </a>
                                            </td>
                                            <!-- Mã sản phẩm -->
                                            <td>
                                                <a style="color:blue; cursor: pointer;" (click)="onViewDetailProduct(record)">
                                                    {{record.producT_CODE}}
                                                </a>
                                            </td>
                                            <!-- Tên công đoạn -->
                                            <td>
                                                {{record.producteD_PART_NAME}}
                                            </td>
                                            <!-- User nhập -->
                                            <td>
                                                {{record.makeR_ID}}
                                            </td>
                                            <!-- Ngày user nhập -->
                                            <td>
                                                {{record.creatE_DT | dateTimeFormatPipe}}
                                            </td>
                                            <!-- Ngày cập nhật -->
                                            <td>
                                                {{record.updatE_DT | dateFormatPipe}}
                                            </td>
                                            <!-- Số lượng yêu cầu -->
                                            <td>
                                                {{record.quantitY_TOTAL | numberFormatPipe}}
                                            </td>
                                            <!-- Số lượng đã làm-->
                                            <td>
                                                {{record.quantitY_USED | numberFormatPipe}}
                                            </td>
                                            <!-- Số lượng còn lại -->
                                            <td>
                                                {{record.quantitY_REMAIN | numberFormatPipe}}
                                            </td>
                                            <!-- Số lượng làm -->
                                            <td>
                                                {{record.quantitY_USE | numberFormatPipe}}
                                            </td>
                                            <!-- SL còn lại sau cùng -->
                                            <td>
                                                {{record.quantitY_REMAIN_AFTER_USE | numberFormatPipe}}
                                            </td>
                                            <!-- Ghi chú -->
                                            <td>
                                                {{record.notes}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </core-table>
                            </div>
                            <!-- End Table-->
                        </fieldset>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>




