<div class="editable-title-group">
    <h5 class="popup-title col-md-12">{{l("Danh sách Bảng chiết tính hiện hành")}}</h5>
</div>
<div class="primeng-datatable-container">
    <editable-table #editTableAttachFile class="custom-table ui-table" >
        <thead>
            <tr>
                <!-- Begin Table Column -->
                <!-- STT -->
                <th><span style="white-space: nowrap;">{{l("No")}}</span></th>
                <!-- Tên khách hàng 
                <th>
                    <span style="white-space: nowrap;">{{l("Tên khách hàng")}}</span>
                </th>-->
                <!-- Tên sản phẩm -->
                <th sortField="producT_NAME">
                    <span style="white-space: nowrap;">{{l("Tên sản phẩm")}}</span>
                </th>
                <!-- Nội dung Bảng chiết tính -->
                <th sortField="coststatemenT_DT_DESC">
                    <span style="white-space: nowrap;">{{l("Nội dung Bảng chiết tính")}}</span>
                </th>
                <!-- Phòng ban ban hành -->
                <th sortField="deP_ID">
                    <span style="white-space: nowrap;">{{l("Phòng ban ban hành")}}</span>
                </th>
                <!-- Ngày upload Bảng chiết tính -->
                <th sortField="coststatemenT_DT_DT">
                    <span style="white-space: nowrap;">{{l("Ngày upload Bảng chiết tính")}}</span>
                </th>
                <!-- File đính kèm Bảng chiết tính -->
                <th>
                    <span style="white-space: nowrap;">{{l("File đính kèm Bảng chiết tính")}}</span>
                </th>
                <!-- Trạng thái Bảng chiết tính -->
                <th sortField="coststatemenT_DT_STATUS">
                    <span style="white-space: nowrap;">{{l("Trạng thái Bảng chiết tính")}}</span>
                </th>
                <!-- Ngày upload bản vẽ -->
                <th sortField="uploaD_COSTSTATEMENT_TEMPLATE_DT">
                    <span style="white-space: nowrap;">{{l("Ngày upload bản vẽ")}}</span>
                </th>
                <!-- File đính kèm bản vẽ -->
                <th>
                    <span style="white-space: nowrap;">{{l("File đính kèm bản vẽ")}}</span>
                </th>
                <!-- Ghi chú -->
                <th sortField="noteS_TEMPLATE">
                    <span style="white-space: nowrap;">{{l("Ghi chú")}}</span>
                </th>
                <!-- End Table Column -->

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of editTableAttachFile.dataInPage; let in= index" 
                class="selectable {{item['editableIsSelected']? 'selected' : ''}}" 
                [hidden]="item['page'] != editTableAttachFile.currentPage"
                (click)="editTableAttachFile.selectRow($event,item);updateView();">
                <!-- STT -->
                <td class="center"><span class="mo-header"></span>{{item['no']}}</td>
                <!-- Tên khách hàng 
                <td>
                    <input class="form-control transparent" type="text"
                        [disabled]="true || item.autH_STATUS == 'A'"
                        [(ngModel)]="item.customeR_NAME"
                        name="{{editTableAttachFile.name('customeR_NAME',in)}}" />
                </td>-->
                <!-- Tên sản phẩm -->
                <td>
                    <input class="form-control" [hidden]="!disableInput"
                        [disabled]='true'
                        #producT_ID='ngModel'
                        name="{{editTableAttachFile.name('producT_ID', in)}}"
                        [(ngModel)]="item.producT_NAME">

                    <select2-custom [hidden]="disableInput"
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        name="{{editTableAttachFile.name('producT_ID',in)}}"
                        [(ngModel)]="item.producT_ID"
                        [list]="listProduct"
                        [valueMember]="'producT_ID'"
                        [displayMember]="'producT_NAME'">
                    </select2-custom>
                </td>
                <!-- Nội dung Bảng chiết tính -->
                <td>
                    <textarea class="form-control transparent" 
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        #seller='ngModel'
                        style="width: 100%;"
                        appTextareaAutoresize
                        [(ngModel)]="item.coststatemenT_DT_DESC"
                        name="{{editTableAttachFile.name('coststatemenT_DT_DESC', in)}}">
                    </textarea>
                </td>
                <!-- Phòng ban ban hành -->
                <td>
                    <input class="form-control transparent" type="text"
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        [(ngModel)]="item.deP_ID"
                        name="{{editTableAttachFile.name('deP_ID',in)}}" />
                </td>
                <!-- Ngày upload Bảng chiết tính -->
                <td>
                    <date-control
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        [(ngModel)]="item.coststatemenT_DT_DT"
                        name="{{editTableAttachFile.name('coststatemenT_DT_DT', in)}}">
                    </date-control>
                </td>
                <!-- File đính kèm Bảng chiết tính -->
                <td style="min-width: 120px;">
                    <file-picker [multiFile]="false" type="text"
                        [folderUpload]="'PoCoststatement'"
                        [inpCss]="'form-control'"
                        (attach_infor_out)="l_UploadFileComplete($event, item)"
                        [(ngModel)]="item['filE_ATTACHMENT']"
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        name="{{editTableAttachFile.name('filE_ATTACHMENT', in)}}"
                        [accept]=" '.xlsx,.xls,.doc,.docx,.pdf,.rar,.jpeg,.png,.jpg'">
                    </file-picker>
                </td>
                <!-- Trạng thái Bảng chiết tính -->
                <td>
                    <all-code-select 
                        [cdName]="'CM_STATUS'"
                        [cdType]="'CM'"
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        name="coststatemenT_DT_STATUS" 
                        [(ngModel)]="item.coststatemenT_DT_STATUS">
                    </all-code-select>
                </td>
                <!-- Ngày upload bản vẽ -->
                <td>
                    <date-control
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        [(ngModel)]="item.uploaD_COSTSTATEMENT_TEMPLATE_DT"
                        name="{{editTableAttachFile.name('uploaD_COSTSTATEMENT_TEMPLATE_DT', in)}}">
                    </date-control>
                </td>
                <!-- File đính kèm bản vẽ -->
                <td style="min-width: 120px;">
                    <file-picker [multiFile]="false" type="text"
                        [folderUpload]="'TemplatePoCoststatement'"
                        [inpCss]="'form-control'"
                        (attach_infor_out)="l_UploadFileComplete_Template($event, item)"
                        [(ngModel)]="item['filE_ATTACHMENT_TEMPLATE']"
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        name="{{editTableAttachFile.name('filE_ATTACHMENT_TEMPLATE', in)}}"
                        [accept]=" '.xlsx,.xls,.doc,.docx,.pdf,.rar,.jpeg,.png,.jpg'">
                    </file-picker>
                </td>
                <!-- Ghi chú -->
                <td>
                    <textarea class="form-control transparent" 
                        [disabled]="disableInput || item.autH_STATUS == 'A'"
                        style="width: 100%;"
                        appTextareaAutoresize
                        [(ngModel)]="item.noteS_TEMPLATE"
                        name="{{editTableAttachFile.name('noteS_TEMPLATE', in)}}">
                    </textarea>
                </td>
            </tr>
        </tbody>
    </editable-table>
</div>