<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <!-- Begin Header -->
        <div class="m-subheader">
            <div class="row">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <!-- Begin Title -->
                        <span>{{l("Thông tin đơn hàng")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Begin Body -->
        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <!-- Begin Filter -->
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row m--margin-bottom-30">
                                <!-- ID đơn hàng -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("ID đơn hàng")}}</label>
                                        <input class="form-control" 
                                            name="puR_ORDER_ID"
                                            [(ngModel)]="filterInput.puR_ORDER_ID">
                                    </div>
                                </div>
                                <!-- Tên đơn hàng -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Tên đơn hàng")}}</label>
                                        <input class="form-control" 
                                            name="puR_ORDER_NAME"
                                            [(ngModel)]="filterInput.puR_ORDER_NAME">
                                    </div>
                                </div>
                                
                                <!-- Đơn vị quản lý -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l('Đơn vị quản lý')}}</label>
                                        <select2-custom 
                                            name="brancH_ID" 
                                            [(ngModel)]="filterInput.brancH_ID" 
                                            [(list)]="branches" 
                                            [emptyText]="l('SelectAll')"
                                            [valueMember]="'brancH_ID'" 
                                            [displayMember]="'brancH_CODE|brancH_NAME'">
                                        </select2-custom>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>

                                <!-- Trạng thái phiếu -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Trạng thái phiếu")}}</label>
                                        <all-code-select 
                                            name="autH_STATUS" 
                                            [(ngModel)]="filterInput.autH_STATUS"
                                            [emptyText]="l('SelectAll')" 
                                            [cdName]="'AUTH_STATUS'"
                                            [cdType]="'CM'">
                                        </all-code-select>
                                    </div>
                                </div>

                                <!-- Trạng thái xử lý -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Trạng thái xử lý")}}</label>
                                        <all-code-select 
                                            name="procesS_STATUS" 
                                            [(ngModel)]="filterInput.procesS_STATUS"
                                            [emptyText]="l('SelectAll')" 
                                            [cdName]="'PURCHASE_STATUS'"
                                            [cdType]="'CM'">
                                        </all-code-select>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>

                                <div class="col-md-8">
                                    <fieldset>
                                        <legend style='font-weight: bold; text-decoration:  underline'>{{l("Ngày tạo phiếu đơn hàng")}}</legend>
                                        <div class='row'>
                                            <!-- Từ ngày -->
                                            <div class='col-sm-6'>
                                                <div class='form-group'>
                                                    <label>{{l('Từ ngày')}}</label>
                                                    <date-control
                                                        name="frM_DATE"
                                                        [(ngModel)]="filterInput.frM_DATE">
                                                    </date-control>
                                                </div>
                                            </div>
                                            <!-- Đến ngày -->
                                            <div class='col-sm-6'>
                                                <div class='form-group'>
                                                    <label>{{l('Đến ngày')}}</label>
                                                    <date-control
                                                        name="tO_DATE"
                                                        [(ngModel)]="filterInput.tO_DATE">
                                                    </date-control>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Filter -->

                    <!-- Begin Table -->
                    <div class="row">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <!-- STT -->
                                        <th class="center">
                                            <span style="width: 40px">{{l("No")}}</span>
                                        </th>
                                        <!-- ID đơn hàng -->
                                        <th sortField="puR_ORDER_ID">
                                            <span>{{l("ID đơn hàng")}}</span>
                                        </th>
                                        <!-- Tên đơn hàng -->
                                        <th sortField="puR_ORDER_NAME">
                                            <span>{{l("Tên đơn hàng")}}</span>
                                        </th>
                                        <!-- Người tạo -->
                                        <th>
                                            <span>{{l("Người tạo")}}</span>
                                        </th>
                                        <!-- Người duyệt -->
                                        <th>
                                            <span>{{l("Người duyệt")}}</span>
                                        </th>
                                        <!-- Trạng thái phiếu -->
                                        <th>
                                            <span>{{l("Trạng thái phiếu")}}</span>
                                        </th>
                                        <!-- Trạng thái xử lý -->
                                        <th>
                                            <span>{{l("Trạng thái xử lý")}}</span>
                                        </th>
                                        <!-- Ghi chú -->
                                        <th>
                                            <span>{{l("Ghi chú")}}</span>
                                        </th>
                                        
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable" (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}} </td>
                                        <td><span class="mo-header"></span>{{record.puR_ORDER_ID}}</td>
                                        <td><span class="mo-header"></span>{{record.puR_ORDER_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.makeR_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.checkeR_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.autH_STATUS_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.procesS_STATUS_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.notes}}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                    <!-- End Table -->
                </div>
            </div>
        </div>
        <!-- End Body -->
    </div>
</div>