<popup-frame [title]="l(title)" (onSearchEvent)="buttonSearch()" (onSelectEvent)="accept()" #popupFrame>
    <div class="horizontal-form filter-form" autocomplete="off">
        <form class="m-form m-form--label-align-right">
            <div class="row m--margin-bottom-30">
<!-- Begin Filter -->
                <!-- Mã nhà cung cấp -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{l("Mã nhà cung cấp")}}</label>
                        <input 
                            class="form-control m-input" type="text" 
                            name="suP_CODE"
                            [(ngModel)]="filterInput.suP_CODE">
                    </div>
                </div>

                <!-- Tên nhà cung cấp -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{l("Tên nhà cung cấp")}}</label>
                        <input 
                            class="form-control m-input" type="text"
                            name="suP_NAME"
                            [(ngModel)]="filterInput.suP_NAME">
                    </div>
                </div>
<!-- End Filter -->
            </div>
        </form>
    </div>
    <div class="row">
        <div isLoading="dataTable.isLoading" class="primeng-datatable-container">
            <div class="spinner-border m-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <core-table [reloadPageOnInit]="false" #coreTable class="custom-table ui-table" (reloadPage)="search()">
                <thead>
                    <tr>
                        <!-- Begin Table Column -->
                        <!-- multiple -->
                        <th class="center" *ngIf="multiple">
                            <span style="width: 40px">
                                <checkbox-control #checkAllElement
                                    (change)="onCheckAll(checkAllElement.inputRef.nativeElement)" [checked]="checkAll">
                                </checkbox-control>
                            </span>
                        </th>
                        <!-- STT -->
                        <th class="center">
                            <span style="width: 40px">{{l("No")}}</span>
                        </th>
                        <!-- Mã nhà cung cấp -->
                        <th sortField="suP_CODE">
                            <span style="width: 150px">{{l("Mã nhà cung cấp")}}</span>
                        </th>
                        <!-- Tên nhà cung cấp -->
                        <th sortField="suP_NAME">
                            <span style="width: 200px">{{l("Tên nhà cung cấp")}}</span>
                        </th>
                        <!-- Đơn giá -->
                        <th sortField="price">
                            <span style="width: 120px">{{l("Đơn giá")}}</span>
                        </th>
                        <!-- Hiện hành -->
                        <th sortField="iS_CURRENT_NAME">
                            <span style="width: 120px">{{l("Hiện hành")}}</span>
                        </th>
                        <!-- Ghi chú -->
                        <th sortField="notes">
                            <span style="width: 150px">{{l("Ghi chú")}}</span>
                        </th>
                        <!-- End Table Column -->
                    </tr>
                </thead>
                <tbody>
                    <!-- multiple dblclick -->
                    <tr *ngFor="let record of dataTable.records; let no = index;" class="selectable" (click)="selectRow($event,record)" (dblclick)="onDoubleClick(record)">
                        <!-- Begin Table Value -->
                        <!-- multiple -->
                        <td class="center" *ngIf="multiple">
                            <span class="mo-header"></span>
                            <checkbox-control (onchange)="setChecked($event.target.checked, record)" [checked]="record['isChecked']"></checkbox-control>
                        </td>
                        <!-- STT -->
                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}}
                        </td>
                        <!-- Mã nhà cung cấp -->
                        <td><span class="mo-header"></span>{{record.suP_CODE}}</td>
                        <!-- Tên nhà cung cấp -->
                        <td><span class="mo-header"></span>{{record.suP_NAME}}</td>
                        <!-- Đơn giá -->
                        <td><span class="mo-header"></span>{{record.price | moneyFormatPipe}}</td>
                        <!-- Hiện hành -->
                        <td><span class="mo-header"></span>{{record.iS_CURRENT_NAME}}</td>
                        <!-- Ghi chú -->
                         <td><span class="mo-header"></span>{{record.notes}}</td>
                        <!-- End Table Value -->
                    </tr>
                </tbody>
            </core-table>
        </div>
    </div>
</popup-frame>