<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <div class="m-subheader">
            <div class="row">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <!-- Begin Title -->
                        <span>{{l("Thông tin phiếu yêu cầu chung")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
            </div>
        </div>

        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row m--margin-bottom-30">
                                <!-- Begin Filter -->

                                <!-- Ngày yêu cầu hoàn thành chung -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l('Ngày yêu cầu hoàn thành chung')}}</label>
                                        <date-control
                                            name="reQ_NORMAL_REQ_COMPLETE_DT"
                                            [(ngModel)]="filterInput.reQ_NORMAL_REQ_COMPLETE_DT">
                                        </date-control>
                                    </div>
                                </div>

                                <!-- Trạng thái hệ hàng -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Trạng thái hệ hàng")}}</label>
                                        <all-code-select 
                                            [emptyText]="l('SelectAll')"
                                            name="grouP_PRODUCT_STATUS" 
                                            [(ngModel)]="filterInput.grouP_PRODUCT_STATUS"
                                            [cdName]="'PDE_GROUP_PRODUCT_STATUS'"
                                            [cdType]="'PDE'">
                                        </all-code-select>
                                    </div>
                                </div>
                                <!-- Gửi triển khai -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Gửi triển khai")}}</label>
                                        <all-code-select 
                                            [emptyText]="l('SelectAll')"
                                            name="iS_SEND_PROGRESS_NORMAL" 
                                            [(ngModel)]="filterInput.iS_SEND_PROGRESS_NORMAL"
                                            [cdName]="'CM_REQUEST'"
                                            [cdType]="'CM'">
                                        </all-code-select>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>

                                <!-- Trạng thái hoàn thành chung -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Trạng thái hoàn thành chung")}}</label>
                                        <all-code-select 
                                            [emptyText]="l('SelectAll')"
                                            name="reQ_NORMAL_STATUS" 
                                            [(ngModel)]="filterInput.reQ_NORMAL_STATUS"
                                            [cdName]="'PDE_REQ_PRICE_STATUS'"
                                            [cdType]="'PDE'">
                                        </all-code-select>
                                    </div>
                                </div>

                                <!-- Trạng thái tiếp nhận -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Trạng thái tiếp nhận")}}</label>
                                        <all-code-select 
                                            name="reQ_NORMAL_REQ_STATUS" 
                                            [(ngModel)]="filterInput.reQ_NORMAL_REQ_STATUS"
                                            [emptyText]="l('SelectAll')"
                                            [cdName]="'PDE_REQ_PRICE'"
                                            [cdType]="'PDE'">
                                        </all-code-select>
                                    </div>
                                </div>
                                <!-- Xác nhận triển khai -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Xác nhận triển khai")}}</label>
                                        <all-code-select 
                                            [emptyText]="l('SelectAll')"
                                            name="iS_CONFIRM_PROGRESS_NORMAL" 
                                            [(ngModel)]="filterInput.iS_CONFIRM_PROGRESS_NORMAL"
                                            [cdName]="'CM_CONFIRM'"
                                            [cdType]="'CM'">
                                        </all-code-select>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>

                                <!-- Tìm kiếm -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button *ngIf="appToolbar.buttonSearchEnable" 
                                            class="btn btn-primary btn-search"
                                            (click)="onSearch()">{{l('Search')}}
                                        </button>
                                    </div>
                                </div>
                                <!-- End Filter -->
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <th class="center">
                                            <span style="width: 40px">{{l("No")}}</span>
                                        </th>
                                        <!-- Mã hệ hàng -->
                                        <th sortField="grouP_PRODUCT_CODE">
                                            <span style="width: 120px">{{l("Mã hệ hàng")}}</span>
                                        </th>
                                        <!-- Người gửi yêu cầu -->
                                        <th sortField="reQ_NORMAL_REQ_REQUESTER_NAME">
                                            <span>{{l("Người gửi yêu cầu")}}</span>
                                        </th>
                                        <!-- Người nhận yêu cầu -->
                                        <th sortField="reQ_NORMAL_REQ_RECEIVER_NAME">
                                            <span>{{l("Người nhận yêu cầu")}}</span>
                                        </th>
                                        <!-- Người dự kiến triển khai -->
                                        <th sortField="reQ_NORMAL_PROGRESS_EXPECT_MAKER_NAME">
                                            <span>{{l("Người dự kiến triển khai")}}</span>
                                        </th>
                                        <!-- Người nhận triển khai -->
                                        <th sortField="reQ_NORMAL_PROGRESS_EXACT_MAKER_NAME">
                                            <span>{{l("Người nhận triển khai")}}</span>
                                        </th>
                                        <!-- Ngày yêu cầu chung -->
                                        <th sortField="reQ_NORMAL_REQ_DT">
                                            <span>{{l("Ngày yêu cầu chung")}}</span>
                                        </th>
                                        <!-- Ngày dự kiến hoàn thành chung -->
                                        <th sortField="reQ_NORMAL_REQ_COMPLETE_EXPECT_DT">
                                            <span>{{l("Ngày dự kiến hoàn thành chung")}}</span>
                                        </th>
                                        <!-- Ngày thực tế hoàn thành chung -->
                                        <th sortField="reQ_NORMAL_REQ_COMPLETE_EXACT_DT">
                                            <span>{{l("Ngày thực tế hoàn thành chung")}}</span>
                                        </th>
                                        <!-- Trạng thái hoàn thành chung -->
                                        <th sortField="reQ_NORMAL_STATUS_NAME">
                                            <span>{{l("Trạng thái hoàn thành chung")}}</span>
                                        </th>
                                        <!-- Trạng thái tiếp nhận -->
                                        <th sortField="reQ_NORMAL_REQ_STATUS_NAME">
                                            <span>{{l("Trạng thái tiếp nhận")}}</span>
                                        </th>
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable"
                                        (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}} </td>
                                        <td><span class="mo-header"></span>{{record.grouP_PRODUCT_CODE}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_REQ_REQUESTER_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_REQ_RECEIVER_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_PROGRESS_EXPECT_MAKER_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_PROGRESS_EXACT_MAKER_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_REQ_DT | dateFormatPipe}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_REQ_COMPLETE_EXPECT_DT | dateFormatPipe}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_REQ_COMPLETE_EXACT_DT | dateFormatPipe}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_STATUS_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.reQ_NORMAL_REQ_STATUS_NAME}}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>