.auth-status-input-page span {
    color: #008018;
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
}

.auth-status-input-page i {
    font-size: 18px;
}

/* Request Text Text*/
.auth-status-input-page i.request-text,
.auth-status-input-page i.request-text~span {
    color: gray;
}

i.request-text {
    vertical-align: middle;
}

.auth-status-input-page i.request-text~span {
    vertical-align: middle;
}

/* Processing Text*/
.auth-status-input-page i.processing-text,
.auth-status-input-page i.processing-text~span {
    color: blue;
}

i.processing-text {
    vertical-align: middle;
}

.auth-status-input-page i.processing-text~span {
    vertical-align: middle;
}