.auth-status-input-page span {
    color: #008018;
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
}

.auth-status-input-page i {
    font-size: 18px;
}

/* Change Text*/
.auth-status-input-page i.change-text,
.auth-status-input-page i.change-text~span {
    color: red;
}

i.change-text {
    vertical-align: middle;
}

.auth-status-input-page i.change-text~span {
    vertical-align: middle;
}

/* No Change Text*/
.auth-status-input-page i.no-change-text,
.auth-status-input-page i.no-change-text~span {
    color: #008018;
}

i.no-change-text {
    vertical-align: middle;
}

.auth-status-input-page i.no-change-text~span {
    vertical-align: middle;
}