<div bsModal
    #modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    (onShown)="shown()"
    aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div
        class="modal-dialog modal-lg">
        <div
            class="modal-content">
            <div
                class="modal-header">
                <h4
                    class="modal-title">
                    {{options.title}}
                </h4>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    [attr.aria-label]="l('Close')">
                    <span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div
                class="modal-body">
                <form
                    novalidate
                    (ngSubmit)="refreshTable()"
                    autocomplete="off">
                    @if
                    (options.isFilterEnabled)
                    {
                    <div
                        class="input-group margin-bottom-10">
                        <input
                            autoFocus
                            [(ngModel)]="filterText"
                            name="filterText"
                            class="form-control"
                            placeholder="{{l('SearchWithThreeDot')}}"
                            type="text">
                        <span
                            class="input-group-btn">
                            <button
                                class="btn btn-primary"
                                type="submit">
                                <i class="flaticon-search-1"
                                    [attr.aria-label]="l('Search')"></i>
                            </button>
                        </span>
                    </div>
                    }
                    <div class="primeng-datatable-container"
                        [busyIf]="primengTableHelper.isLoading">
                        <p-table
                            #dataTable
                            (onLazyLoad)="getRecordsIfNeeds($event)"
                            [value]="primengTableHelper.records"
                            [rows]="primengTableHelper.defaultRecordsCountPerPage"
                            [paginator]="false"
                            [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template
                                pTemplate="header">
                                <tr>
                                    <th
                                        style="width: 150px">
                                        {{l('Select')}}
                                    </th>
                                    <th>
                                        {{l('Name')}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-record="$implicit">
                                <tr>
                                    <td
                                        style="width: 150px">
                                        <button
                                            class="btn btn-sm btn-primary"
                                            type="button"
                                            (click)="selectItem(record)">
                                            <i
                                                class="fa fa-check"></i>
                                            {{l('Select')}}
                                        </button>
                                    </td>
                                    <td>
                                        <span
                                            class="ui-column-title">{{l('Name')}}</span>
                                        {{record.name}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        @if
                        (primengTableHelper.totalRecordsCount
                        ==
                        0)
                        {
                        <div
                            class="primeng-no-data">
                            {{l('NoData')}}
                        </div>
                        }
                        <div
                            class="primeng-paging-container">
                            <p-paginator
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #paginator
                                (onPageChange)="getRecordsIfNeeds($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span
                                class="total-records-count">
                                {{l('TotalRecordsCount',
                                primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div
                class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
            </div>
        </div>
    </div>
</div>