<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title">
                    <span>{{"TermsOfUse" | localize}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="row col-md-12 modal-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .text-content {
        font-size: 1.25rem;
    }
</style>