<div
    class="m-grid m-grid--hor m-grid--root m-page">
    <header
        class="m-grid__item m-header"
        data-minimize-mobile="hide"
        data-minimize-offset="200"
        data-minimize-mobile-offset="200"
        data-minimize="minimize">
        <div
            class="m-header__top">
            <div
                class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
                <div
                    class="m-stack m-stack--ver m-stack--desktop">
                    <theme2-brand
                        class="m-stack__item m-brand"></theme2-brand>
                    <div class="m-stack__item m-stack__item--fluid m-header-head"
                        id="m_header_nav">
                        <div id="m_header_topbar"
                            class="m-topbar m-stack m-stack--ver m-stack--general">
                            <div
                                class="m-stack__item m-topbar__nav-wrapper">
                                <ul
                                    class="m-topbar__nav m-nav m-nav--inline">
                                    <header-notifications></header-notifications>
                                    <user-menu></user-menu>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="m-header__bottom">
            <div
                class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
                <div
                    class="m-stack m-stack--ver m-stack--desktop">
                    <div
                        class="m-stack__item m-stack__item--fluid m-header-menu-wrapper">
                        <button
                            class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-light"
                            id="m_aside_header_menu_mobile_close_btn">
                            <i
                                class="la la-close"></i>
                        </button>
                        <top-bar-menu></top-bar-menu>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div
        class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <div
            class="m-container m-container--responsive m-container--xxl m-page__container m-body__wrapper">
            <div
                class="m-grid__item m-grid__item--fluid m-wrapper">
                <div
                    class="m-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <footer-bar></footer-bar>
</div>