<div
    class="m-stack__item m-stack__item--middle m-brand__logo">
    <a routerLink="/"
        class="m-brand__logo-wrapper">
        <img *ngIf="defaultLogo"
            [src]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenantId"
            alt="logo"
            class="header-logo" />
    </a>
</div>
<div
    class="m-stack__item m-stack__item--middle m-brand__tools">
    <a id="m_aside_header_menu_mobile_toggle"
        href="javascript:;"
        class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
        <span></span>
    </a>
    <a id="m_aside_header_topbar_mobile_toggle"
        href="javascript:;"
        class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
        <i
            class="flaticon-more"></i>
    </a>
</div>