<header
    class="m-grid__item m-header"
    data-minimize-offset="200"
    data-minimize-mobile-offset="200">
    <div
        class="m-container m-container--fluid m-container--full-height">
        <div
            class="m-stack m-stack--ver m-stack--desktop">
            <default-brand
                class="m-stack__item m-brand m-brand--skin-dark"></default-brand>
            <div class="m-stack__item m-stack__item--fluid m-header-head"
                id="m_header_nav">
                <top-bar-menu></top-bar-menu>
                <div id="m_header_topbar"
                    class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div
                        class="m-stack__item m-topbar__nav-wrapper">
                        <ul
                            class="m-topbar__nav m-nav m-nav--inline">
                            <header-notifications></header-notifications>
                            <user-menu></user-menu>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div
    class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <side-bar-menu
        class="m-grid__item m-aside-left m-aside-left--skin-dark"></side-bar-menu>
    <div
        class="m-grid__item m-grid__item--fluid m-wrapper">
        <div
            class="m-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer-bar></footer-bar>