<div #popupFrameModal="bs-modal"
    bsModal
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="popupFrameModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ _title }}</span>
                </h4>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    [attr.aria-label]="l('Close')"
                    [disabled]="waiting" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- combobox -->
            <div class="col-md-12 modal-body">
                <div class="form-group">
                    <label>{{ l(_title_combobox) }}</label>
                    <select2-custom
                        #combobox
                        [(ngModel)]="combobox_value"
                        [(list)]="_combobox_list"
                        [valueMember]="_combobox_valueMember"
                        [displayMember]="_combobox_displayMember" >
                    </select2-custom>
                </div>
            </div>

            <div class="modal-footer">
                <button
                    [disabled]="waiting"
                    type="button"
                    style="border-radius: 10px !important;"
                    class="btn btn-primary"
                    (click)="onSend()"
                    [buttonBusy]="true"
                    [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-check"></i>
                    <span>{{ l("Gửi yêu cầu") }}</span>
                </button>
                
                <button
                    style="border-radius: 10px !important; background: #FFF !important; border: 2px solid red; color: red;"
                    [disabled]="waiting"
                    type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">
                    <i class="fa fa-ban" style="color: red;"aria-hidden="true"></i>
                    <span>{{ l("Đóng") }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
