<div class="m-login__signin"
    [@routerTransition]>
    <div
        class="m-login__head">
        <h3
            class="m-login__title">
            {{
            'ForgotPassword'
            |
            localize
            }}
        </h3>
        <div
            class="m-login__desc">
            {{
            'SendPasswordResetLink_Information'
            |
            localize
            }}
        </div>
    </div>
    <form
        #forgotPasswordForm="ngForm"
        class="m-login__form m-form"
        method="post"
        novalidate
        (ngSubmit)="save()">
        <div
            class="form-group m-form__group">
            <input
                class="form-control placeholder-no-fix"
                type="email"
                autocomplete="off"
                placeholder="{{'EmailAddress' | localize}}"
                name="emailAddress"
                [(ngModel)]="model.emailAddress"
                required
                maxlength="256"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
        </div>
        <div
            class="m-login__form-action">
            <button
                [disabled]="saving()"
                type="submit"
                class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                {{
                'Submit'
                |
                localize
                }}
            </button>
            <button
                [disabled]="saving()"
                routerLink="/account/login"
                type="button"
                class="btn btn-outline-primary m-btn m-btn--pill m-btn--custom m-login__btn">
                {{
                'Cancel'
                |
                localize
                }}
            </button>
        </div>
    </form>
</div>