<div class="m-grid m-grid--hor m-grid--root m-page"
    [ngClass]="{'subscription-bar-visible': subscriptionStatusBarVisible()}">
    @if
    (theme
    ===
    'default')
    {
    <default-layout></default-layout>
    }
    @if
    (theme
    ===
    'theme2')
    {
    <theme2-layout></theme2-layout>
    }
</div>
<loginAttemptsModal
    #loginAttemptsModal>
</loginAttemptsModal>
@if
(!installationMode)
{
<linkedAccountsModal
    #linkedAccountsModal
    (modalClose)="getRecentlyLinkedUsers()">
</linkedAccountsModal>
}
<changePasswordModal
    #changePasswordModal>
</changePasswordModal>
<changeProfilePictureModal
    #changeProfilePictureModal>
</changeProfilePictureModal>
<mySettingsModal
    #mySettingsModal
    (modalSave)="onMySettingsModalSaved()">
</mySettingsModal>
<notificationSettingsModal
    #notificationSettingsModal>
</notificationSettingsModal>
<theme-selection-panel
    #themeSelectionPanel></theme-selection-panel>