<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <!-- Begin Header -->
        <div class="m-subheader">
            <div class="row">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <!-- Begin Title -->
                        <span>{{l("Địa điểm")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Begin Body -->
        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <!-- Begin Filter -->
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row m--margin-bottom-30">
                                <!-- Tên địa điểm -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Tên địa điểm")}}</label>
                                        <input class="form-control" 
                                            name="frE_LOCATION_NAME"
                                            [(ngModel)]="filterInput.frE_LOCATION_NAME">
                                    </div>
                                </div>
                                
                                <!-- Đơn vị quản lý -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l('Đơn vị quản lý')}}</label>
                                        <select2-custom 
                                            name="brancH_ID" 
                                            [(ngModel)]="filterInput.brancH_ID" 
                                            [(list)]="branches" 
                                            [emptyText]="l('SelectAll')"
                                            [valueMember]="'brancH_ID'" 
                                            [displayMember]="'brancH_CODE|brancH_NAME'">
                                        </select2-custom>
                                    </div>
                                </div>

                                <!-- Trạng thái phiếu 
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{l("Trạng thái phiếu")}}</label>
                                        <all-code-select 
                                            name="autH_STATUS" 
                                            [(ngModel)]="filterInput.autH_STATUS"
                                            [emptyText]="l('SelectAll')" 
                                            [cdName]="'AUTH_STATUS'"
                                            [cdType]="'CM'">
                                        </all-code-select>
                                    </div>
                                </div>-->
                                <div class="col-md-12"></div>
                            </div>
                        </div>
                    </form>
                    <!-- End Filter -->

                    <!-- Begin Table -->
                    <div class="row">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <!-- STT -->
                                        <th class="center">
                                            <span>{{l("No")}}</span>
                                        </th>
                                        <!-- Tên địa điểm -->
                                        <th sortField="frE_LOCATION_NAME">
                                            <span>{{l("Tên địa điểm")}}</span>
                                        </th>
                                        <!-- Người liên hệ -->
                                        <th>
                                            <span>{{l("Người liên hệ")}}</span>
                                        </th>
                                        <!-- Số điện thoại -->
                                        <th>
                                            <span>{{l("Số điện thoại")}}</span>
                                        </th>
                                        <!-- Địa chỉ -->
                                        <th>
                                            <span>{{l("Địa chỉ")}}</span>
                                        </th>
                                        <!-- Khoảng cách di chuyển -->
                                        <th>
                                            <span>{{l("Khoảng cách di chuyển")}}</span>
                                        </th>
                                        <!-- Người tạo -->
                                        <th>
                                            <span>{{l("Người tạo")}}</span>
                                        </th>
                                        <!-- Ghi chú -->
                                        <th>
                                            <span>{{l("Ghi chú")}}</span>
                                        </th>
                                        
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable" (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center">{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}} </td>
                                        <td>{{record.frE_LOCATION_NAME}}</td>
                                        <td>{{record.frE_LOCATION_CONTACT_USER}}</td>
                                        <td>{{record.frE_LOCATION_PHONE}}</td>
                                        <td>{{record.frE_LOCATION_ADDRESS}}</td>
                                        <td>{{record.frE_LOCATION_DISTANCE_KM}}</td>
                                        <td>{{record.makeR_NAME}}</td>
                                        <td>{{record.notes}}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                    <!-- End Table -->
                </div>
            </div>
        </div>
        <!-- End Body -->
    </div>
</div>