<div id="m_header_topbar"
    class="m-topbar m-stack m-stack--ver m-stack--general">
    <p>{{l('HeaderInfo')}}
    </p>
    <nav class="m-stack__item m-topbar__nav-wrapper"
        [attr.aria-label]="l('TopMenu')">
        <ul class="m-topbar__nav m-nav m-nav--inline"
            aria-label="TopMenu"
            role="menubar">
            <header-notifications></header-notifications>
            <user-menu></user-menu>
            <li [hidden]="!chatEnabled || !chatConnected"
                id="m_quick_sidebar_toggle"
                class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width">
                <a href="javascript:;"
                    class="m-nav__link m-dropdown__toggle"
                    role="menuitem"
                    aria-haspopup="true"
                    aria-expanded="false"
                    tabindex="-1">
                    <span
                        class="m-nav__link-icon">
                        <span
                            class="m-nav__link-icon-wrapper">
                            <i
                                class="flaticon-chat-2"></i>
                        </span>
                    </span>
                    <span
                        class="m-badge m-badge--danger"
                        [ngClass]="{'d-none': !unreadChatMessageCount}"
                        id="UnreadChatMessageCount">
                        {{unreadChatMessageCount}}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>