<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
    m-dropdown-toggle="click">
    <a href="#"
        class="m-nav__link m-dropdown__toggle">
        <span
            class="m-topbar__username">
            @if
            (isImpersonatedLogin)
            {
            <i
                class="fa fa-reply m--font-danger"></i>
            }
            @if
            (isMultiTenancyEnabled)
            {
            <span
                class="tenancy-name">{{tenancyName}}\</span>
            }
            {{userName}}
        </span>
        <span
            class="m-topbar__userpic">
            @if
            (profilePicture)
            {
            <img alt=""
                class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                [src]="profilePicture" />
            }
        </span>
    </a>
    <div
        class="m-dropdown__wrapper">
        <span
            class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
        <div
            class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center"
                [ngStyle]="{ 'background': 'url(' + appRootUrl() + 'assets/metronic/assets/demo/' + currentTheme.baseSettings.layout.themeColor + '/media/img/misc/user_profile_bg.jpg)', 'background-size': 'cover'}">
                <div
                    class="m-card-user m-card-user--skin-dark">
                    <div
                        class="m-card-user__pic">
                        <img alt=""
                            class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                            [src]="profilePicture" />
                    </div>
                    <div
                        class="m-card-user__details">
                        <span
                            class="m-card-user__name m--font-weight-500">
                            {{shownLoginName}}
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="m-dropdown__body">
                <nav class="m-dropdown__content"
                    [attr.aria-label]="l('UserAccount')">
                    <ul class="m-nav m-nav--skin-light"
                        [attr.aria-label]="l('UserAccount')"
                        role="menu">
                        @if
                        (false
                        &&
                        isImpersonatedLogin)
                        {
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                class="m-nav__link"
                                (click)="backToMyAccount()"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon fa fa-reply m--font-danger"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            id="UserProfileBackToMyAccountButton"
                                            class="m-nav__link-text">
                                            {{l("BackToMyAccount")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        }
                        @if
                        (isImpersonatedLogin)
                        {
                        <li class="m-nav__separator m-nav__separator--fit"
                            role="none">
                        </li>
                        }
                        @if
                        (false)
                        {
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                class="m-nav__link"
                                (click)="showLinkedAccounts()"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-user-settings"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            id="ManageLinkedAccountsLink"
                                            class="m-nav__link-text">
                                            {{l("ManageLinkedAccounts")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                            @if
                            (recentlyLinkedUsers)
                            {
                            <ul id="RecentlyUsedLinkedUsers"
                                class="m-nav linked-accounts"
                                [attr.aria-label]="l('LinkedAccounts')"
                                role="menu">
                                @for
                                (linkedUser
                                of
                                recentlyLinkedUsers;
                                track
                                linkedUser.id)
                                {
                                <li class="m-nav__item"
                                    role="none">
                                    <a href="javascript:;"
                                        (click)="switchToLinkedUser(linkedUser)"
                                        class="m-nav__link"
                                        role="menuitem"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        tabindex="-1">
                                        <span
                                            class="m-nav__link-bullet m-nav__link-bullet--dot">
                                            <span></span>
                                        </span>
                                        <span
                                            class="m-nav__link-text">
                                            {{getShownUserName(linkedUser)}}
                                        </span>
                                    </a>
                                </li>
                                }
                            </ul>
                            }
                        </li>
                        <li class="m-nav__separator m-nav__separator--fit"
                            role="none">
                        </li>
                        }
                        @if
                        (isNormalLoginMethod)
                        {
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                class="m-nav__link"
                                (click)="changePassword()"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-more-v6"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            id="UserProfileChangePasswordLink"
                                            class="m-nav__link-text">
                                            {{l("ChangePassword")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        }
                        <li style="display: none;"
                            class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                class="m-nav__link"
                                (click)="showLoginAttempts()"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-list"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            id="ShowLoginAttemptsLink"
                                            class="m-nav__link-text">
                                            {{l("LoginAttempts")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                class="m-nav__link"
                                (click)="changeProfilePicture()"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-profile-1"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            id="UserProfileChangePictureLink"
                                            class="m-nav__link-text">
                                            {{l("ChangeProfilePicture")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                class="m-nav__link"
                                (click)="changeMySettings()"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-cogwheel"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            id="UserProfileMySettingsLink"
                                            class="m-nav__link-text">
                                            {{l("MySettings")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        @if
                        (false
                        &&
                        !('Pages.Administration.UiCustomization'
                        |
                        permission))
                        {
                        <li class="m-nav__item"
                            role="none">
                            <a routerLink="admin/ui-customization"
                                class="m-nav__link"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-medical"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            class="m-nav__link-text">
                                            {{l("VisualSettings")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        }
                        @if
                        (false)
                        {
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                (click)="downloadCollectedData()"
                                class="m-nav__link"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                <i
                                    class="m-nav__link-icon flaticon-download"></i>
                                <span
                                    class="m-nav__link-title">
                                    <span
                                        class="m-nav__link-wrap">
                                        <span
                                            class="m-nav__link-text">
                                            {{l("DownloadCollectedData")}}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        }
                        <li class="m-nav__separator m-nav__separator--fit"
                            role="none">
                        </li>
                        <li class="m-nav__item"
                            role="none">
                            <a href="javascript:;"
                                (click)="logout()"
                                class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                role="menuitem"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="-1">
                                {{l("Logout")}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</li>