<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()" class="m-subheader__title
                    m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title
                    m-subheader__title--separator link-to-list-page">
                    <span>Khách hàng</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Create")}}</span>
                    <span *ngSwitchCase="EditPageState.edit">{{l("Edit")}}</span>
                    <span *ngSwitchCase="EditPageState.viewDetail">{{l("View")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" novalidate
                    (ngSubmit)="saveInput()" autocomplete="off">

                    <div class="row col-md-12 modal-body">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <!-- Mã Khách hàng -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mã Khách hàng</label>
                                <input [disabled]="disableInput"
                                    class="form-control" type="text"
                                    name="customeR_CODE"
                                    [(ngModel)]="inputModel.customeR_CODE" />
                            </div>
                        </div>

                        <!-- Tên Khách hàng -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tên Khách hàng</label>
                                <input [disabled]="disableInput"
                                    class="form-control" type="text"
                                    name="customeR_NAME"
                                    [(ngModel)]="inputModel.customeR_NAME" />
                            </div>
                        </div>

                        <!-- Ghi chú -->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea
                                    class="form-control" type="text"
                                    name="notes"
                                    [disabled]='disableInput'
                                    [(ngModel)]="inputModel.notes">
                                </textarea>
                            </div>
                        </div>

                        <!-- Đính kèm file -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{l("FileAttachment")}}</label>
                                <file-picker [disabled]="disableInput"
                                    [folderUpload]="'PoCustomer'"
                                    name="filE_ATTACHMENT"
                                    [inpCss]="'form-control'"
                                    [accept]="'.xlsx,.xls,.doc,.docx,.pdf,.jpeg,.png,.jpg,.txt'"
                                    [(ngModel)]="inputModel['filE_ATTACHMENT']"
                                    name="filE_ATTACHMENT">
                                </file-picker>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>