<div class="editable-title-group">
    <h5 class="popup-title col-md-12">{{l(title)}}</h5>
    <div class="action-button">
        <button [hidden]="!disableInput" type="button" (click)='exportExcel()' title="dowload"
            [disabled]="!disableInput" class="btn btn-primary"><i class="pi pi-download"></i>{{l('Add')}}
        </button>
        <button [hidden]="disableInput" type="button" (click)='onAdd()'
            [disabled]="disableInput" class="btn btn-primary"><i class="pi pi-plus"></i>{{l('Add')}}
        </button>
        <button [hidden]="disableInput" type="button" (click)='onRemove()'
            [disabled]="disableInput" class="btn btn-danger"><i class="pi pi-times"></i>{{l("Delete")}}
        </button>
    </div>
</div>
<div class="primeng-datatable-container">
    <editable-table #editTable class="custom-table ui-table" >
        <thead>
            <tr>
                <!-- Checkbox -->
                <th>
                    <span style="white-space: nowrap;">
                        <checkbox-control [disabled]="disableInput"
                            (onchange)="editTable.checkAll($event.target.checked)"
                            [checked]="editTable.isCheckAll">
                        </checkbox-control>
                    </span>
                </th>
                <!-- Begin Table Column -->
                <!-- STT -->
                <th><span style="white-space: nowrap;">{{l("No")}}</span></th>
                <!-- Mã PO -->
                <th>
                    <span style="white-space: nowrap;">{{l("Mã PO")}}</span>
                </th>
                <!-- Ngày booking -->
                <th>
                    <span style="width: 120px;">{{l("Ngày booking")}}</span>
                </th>
                <!-- Số lần delay -->
                <th>
                    <span style="white-space: nowrap;">{{l("Số lần delay")}}</span>
                </th>
                <!-- Lý do -->
                <th>
                    <span style="width: 150px;">{{l("Lý do")}}</span>
                </th>
                <!-- Ghi chú booking -->
                <th>
                    <span style="width: 150px;">{{l("Ghi chú booking")}}</span>
                </th>
                <!-- Lưu thay đổi -->
                <th>
                    <span style="white-space: nowrap;">{{l("")}}</span>
                </th>
                <!-- End Table Column -->

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of editTable.dataInPage; let in= index" 
                class="selectable {{item['editableIsSelected']? 'selected' : ''}}" 
                [hidden]="item['page'] != editTable.currentPage"
                (click)="editTable.selectRow($event,item);updateView();">
                <!-- Checkbox -->
                <td class='center'>
                    <span class="mo-header"></span>
                    <checkbox-control [disabled]="disableInput"
                        (onchange)="item.isChecked= $event.target.checked"
                        [checked]="item['isChecked']">
                    </checkbox-control>
                </td>
                <!-- STT -->
                <td class="center"><span class="mo-header"></span>{{item['no']}}</td>
                <!-- Mã PO -->
                <td>
                    <input class="form-control transparent" 
                        readonly
                        name="{{editTable.name('pO_CODE',in)}}" 
                        [(ngModel)]="item.pO_CODE"/>
                </td>
                <!-- Ngày booking -->
                <td>
                    <date-control
                        [disabled]="disableInput && disableEditColumn"
                        [hasTime]="true"
                        name="{{editTable.name('bookinG_DT', in)}}"
                        [(ngModel)]="item.bookinG_DT">
                    </date-control>
                </td>
                <!-- Số lần delay -->
                <td>
                    <div class="right"><span class="mo-header"></span>
                        <money-input
                            [disabled]="true"
                            class="transparent"
                            name="{{editTable.name('pO_BOOKING_NBE',in)}}"
                            [(ngModel)]="item.pO_BOOKING_NBE">
                        </money-input>
                    </div>
                </td>
                <!-- Lý do -->
                <td>
                    <textarea class="form-control transparent" 
                        [disabled]="disableInput && disableEditColumn"
                        style="width: 100%;"
                        appTextareaAutoresize
                        name="{{editTable.name('reason', in)}}"
                        [(ngModel)]="item.reason">
                    </textarea>
                </td>
                <!-- Ghi chú booking -->
                <td>
                    <textarea class="form-control transparent" 
                        [disabled]="disableInput && disableEditColumn"
                        style="width: 100%;"
                        appTextareaAutoresize
                        name="{{editTable.name('noteS_BOOKING', in)}}"
                        [(ngModel)]="item.noteS_BOOKING">
                    </textarea>
                </td>
                <!-- Lưu thay đổi -->
                <td>
                    <button class="btn btn-primary" type='button' [hidden]="isHiddenEditButton"
                        (click)="onEditColumn(item)">
                        {{l('Lưu thay đổi').charAt(0).toUpperCase()+ l('Lưu thay đổi').slice(1)}}
                    </button>
                </td>
            </tr>
        </tbody>
    </editable-table>
</div>

<div class="row">
    <!-- Mở chỉnh sửa -->
    <div class="col-md-3" [hidden]="isHiddenEditButton">
        <div class="form-group">
            <label (click)="onOpenEditColumn()"
                class='btn btn-primary' 
                style="margin-top: 6px; color:white!important">
                {{this.l('Mở chỉnh sửa')}}
            </label>
        </div>
    </div>
    <div class="row col-md-9">
        <div class="form-group" style="padding-left: 15px">
            <label (click)="onExportTemplate()" class='btn btn-primary' 
                style="margin-top: 6px; color:white!important">
                {{this.l('In Template')}}
            </label>
        </div>
        <!-- Import template -->
        <div class="form-group" style="padding-left: 15px">
            <label class='btn btn-primary' type="button"
                for="file-upload"
                style="margin-top: 6px;color:white!important">
                {{this.l('Import template')}}
                <import-excel [id]="'file-upload'"
                    [hidden]="true"
                    [startPosition]="'A2'"
                    (toArrayObject)='onImportTemplate($event)'>
                </import-excel>
            </label>
        </div>
    </div>
</div>


<po-po-modal (onSelect)='onSelectPopup($event)' #popupModal [multiple]="true"></po-po-modal>