<!-- begin::Quick Sidebar -->
<div class="m-theme-selection-panel__content"
    (window:resize)="onWindowResize($event)">
    <div
        class="select-theme-header">
        <h5>{{l('SelectATheme'
            |
            localize)}}
        </h5>
        <span
            id="m_theme_selection_panel_close"
            class="m-theme-selection-panel__close">
            <i
                class="la la-close"></i>
        </span>
    </div>
    <div>
        <!-- TODO: Replace with Angular 19 compatible scrollbar solution -->
        <div
            style="height: 78vh; overflow-y: auto;">
        </div>
    </div>
</div>
<!-- end::Quick Sidebar -->