<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <div class="m-subheader">
            <div class="row">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">

                        <!-- Begin Title -->
                        <span>{{l("Tiến độ công đoạn định hình")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
                <!--
                <div class="col text-right mt-3 mt-md-0">
                    <div class="btn-group dropdown mr-2">
                        <button class=" btn btn-outline-success" (click)="exportExcel()">
                            <i class="far fa-file-excel"></i>
                            {{l("ExcelOperations")}}
                        </button>
                    </div>
                </div> -->

            </div>
        </div>

        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row m--margin-bottom-30">
                                <!-- Begin Filter -->

                                <!-- Mã PO -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("Mã PO")}}</label>
                                        <input [(ngModel)]="filterInput.pO_CODE" name="pO_CODE" autoFocus
                                            class="form-control m-input" type="text">
                                    </div>
                                </div>

                                <!-- Tên PO -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("Tên PO")}}</label>
                                        <input [(ngModel)]="filterInput.pO_NAME" name="pO_NAME" autoFocus
                                            class="form-control m-input" type="text">
                                    </div>
                                </div>

                                <!-- Đơn vị quản lý PO -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l('Đơn vị quản lý PO')}}</label>
                                        <select2-custom 
                                            name="brancH_ID" 
                                            [(ngModel)]="filterInput.brancH_ID" 
                                            [(list)]="branches" 
                                            [emptyText]="l('SelectAll')"
                                            [valueMember]="'brancH_ID'" 
                                            [displayMember]="'brancH_CODE|brancH_NAME'">
                                        </select2-custom>
                                    </div>
                                </div>
                                <!-- End Filter -->

                                <div style="display:none;" class="col-md-12">
                                    <div class="form-group">
                                        <button *ngIf="appToolbar.buttonSearchEnable" class="btn btn-primary btn-search"
                                            (click)="onSearch()">{{l('Search')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <th>
                                            <span style="width: 30px">{{l("No")}}</span>
                                        </th>
                                        <!-- Mã PO -->
                                        <th sortField="pO_CODE" >
                                            <span style="width: 150px;">{{l("Mã PO")}}</span>
                                        </th>
                                        <!-- Tên PO -->
                                        <th sortField="pO_NAME" >
                                            <span style="width: 150px;">{{l("Tên PO")}}</span>
                                        </th>
                                        <!-- Phần trăm hoàn thành -->
                                        <th sortField="percenT_COMPLETED" >
                                            <span style="width: 100px;">{{l("Phần trăm hoàn thành")}}</span>
                                        </th>
                                        <!-- Lệnh sản xuất -->
                                        <th >
                                            <span style="width: 120px;">{{l("Lệnh sản xuất")}}</span>
                                        </th>
                                        <!-- Ghi chú công đoạn -->
                                        <th >
                                            <span style="width: 150px;">{{l("Ghi chú công đoạn")}}</span>
                                        </th>
                                        <!-- Bắt đầu công đoạn -->
                                        <th>
                                            <span style="width: 80px;">{{l("Bắt đầu công đoạn")}}</span>
                                        </th>
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable"
                                        (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}}
                                        </td>
                                        <td>{{record.pO_CODE}}</td>
                                        <td>{{record.pO_NAME}}</td>
                                        <td>{{record.percenT_COMPLETED}}</td>
                                        <td>{{record.r_CODE}}</td>
                                        <td>{{record.noteS_FACTORY}}</td>
                                        <!-- Bắt đầu công đoạn -->
                                        <td>
                                            <button class="btn btn-primary" type='button'
                                                [disabled]="record.iS_START == '1'"
                                                (click)="onStartProductedPart(record)">
                                                {{l('Bấm vào đây').charAt(0).toUpperCase()+ l('Bấm vào đây').slice(1)}}
                                            </button>
                                        </td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>