<div [@routerTransition]>
    <div id="page-list-area">
        <div class="m-subheader">
            <div class="row">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <!-- Begin Title -->
                        <span>{{l("Import cụm chi tiết")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
            </div>
        </div>
        
        <product-group-detail-import-edittable
            [branches]="_branches"
            [title]="'Import cụm chi tiết'">
        </product-group-detail-import-edittable>
        
    </div>
</div>