<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <!-- Begin Header -->
        <div class="m-subheader">
            <div class="row">
                <div class="mr-auto col-auto">
                    <a [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <!-- Begin Title -->
                        <span>{{l("Thông tin mô tả chi tiết")}}</span>
                        <!-- End Title -->
                    </h3>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Begin Body -->
        <div id="content" class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <!-- Begin Filter -->
                    <form class="horizontal-form filter-form" autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row m--margin-bottom-30">
                                <!-- Mã mô tả chi tiết -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("Mã mô tả chi tiết")}}</label>
                                        <input  type="text"
                                            class="form-control m-input" 
                                            name="producT_DETAIL_CODE"
                                            [(ngModel)]="filterInput.producT_DETAIL_CODE">
                                    </div>
                                </div>

                                <!-- Tên mô tả chi tiết -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("Tên mô tả chi tiết")}}</label>
                                        <input type="text"
                                            class="form-control m-input"
                                            name="producT_DETAIL_NAME"
                                            [(ngModel)]="filterInput.producT_DETAIL_NAME" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Filter -->

                    <!-- Begin Table -->
                    <div class="row">
                        <div class="primeng-datatable-container {{dataTable.isLoading}}">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable class="custom-table ui-table" (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <!-- STT -->
                                        <th class="center">
                                            <span style="width: 40px">{{l("No")}}</span>
                                        </th>
                                        <!-- Mã mô tả chi tiết -->
                                        <th sortField="producT_DETAIL_CODE">
                                            <span>{{l("Mã mô tả chi tiết")}}</span>
                                        </th>
                                        <!-- Tên mô tả chi tiết-->
                                        <th sortField="producT_DETAIL_NAME">
                                            <span>{{l("Tên mô tả chi tiết")}}</span>
                                        </th>
                                        <!-- Chi tiết khung -->
                                        <th sortField="description">
                                            <span>{{l("Chi tiết khung")}}</span>
                                        </th>
                                        <!-- Tình trạng duyệt -->
                                        <th sortField="autH_STATUS_NAME">
                                            <span>{{l("Tình trạng duyệt")}}</span>
                                        </th>
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records" class="selectable" (dblclick)="onDblclick(record)" (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount + dataTable.records.indexOf(record)) + 1}} </td>
                                        <td><span class="mo-header"></span>{{record.producT_DETAIL_CODE}}</td>
                                        <td><span class="mo-header"></span>{{record.producT_DETAIL_NAME}}</td>
                                        <td><span class="mo-header"></span>{{record.description}}</td>
                                        <td><span class="mo-header"></span>{{record.autH_STATUS_NAME}}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                    <!-- End Table -->
                </div>
            </div>
        </div>
        <!-- End Body -->
    </div>
</div>