<div
    class="m-subheader">
    <div
        class="d-flex align-items-center">
        <div
            class="mr-auto">
            <h3
                class="m-subheader__title m-subheader__title--separator">
                <span>{{l("Notifications")}}</span>
            </h3>
            <span
                class="m-section__sub">
                {{l("NotificationsHeaderInfo")}}
            </span>
        </div>
    </div>
</div>
<div
    class="m-content">
    <div
        class="m-portlet m-portlet--mobile">
        <div
            class="m-portlet__body">
            <form
                class="horizontal-form"
                autocomplete="off">
                <div
                    class="m-form m-form--label-align-right">
                    <div
                        class="row align-items-center m--margin-bottom-10">
                        <div
                            class="col-xl-12">
                            <div
                                class="form-group m-form__group align-items-center">
                                <div
                                    class="input-group">
                                    <select
                                        [(ngModel)]="readStateFilter"
                                        name="readStateFilter"
                                        class="form-control"
                                        (change)="getNotifications()">
                                        <option
                                            value="ALL">
                                            {{l("All")}}
                                        </option>
                                        <option
                                            value="UNREAD">
                                            {{l("Unread")}}
                                        </option>
                                    </select>
                                    <span
                                        class="input-group-btn">
                                        <button
                                            (click)="getNotifications()"
                                            class="btn btn-primary"
                                            type="button"><i
                                                class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div
                class="row align-items-center">
                <div
                    class="col-md-12">
                    @for
                    (record
                    of
                    notifications;
                    track
                    record.userNotificationId)
                    {
                    <div
                        class="m-list-timeline__item">
                        <span
                            class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                        <span
                            class="m-list-timeline__icon"><i
                                class="{{record.icon}}"></i></span>
                        <span
                            class="m-list-timeline__text">
                            <a
                                [href]="record.url">{{record.text}}</a>
                        </span>
                        <span
                            class="m-list-timeline__time">{{record.time}}</span>
                        <div
                            class="m-list-timeline__action">
                            @if
                            (record.state
                            ===
                            'UNREAD')
                            {
                            <button
                                class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                (click)="setAsRead(record)"
                                title="{{l('SetAsRead')}}">
                                <i
                                    class="la la-check"></i>
                            </button>
                            }
                        </div>
                    </div>
                    }
                    @if
                    (notifications.length
                    ===
                    0)
                    {
                    <div
                        class="text-center">
                        {{l("NoData")}}
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>