<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <!-- Begin Header -->
    <div class="m-subheader">
        <div class="row">
            <div class="mr-auto col-auto">
                <a [routerLink]="rootPage()" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">
                    <!-- Begin Title -->
                    <span>{{l("Cụm chi tiết")}}</span>
                    <!-- End Title -->
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Create")}}</span>
                    <span *ngSwitchCase="EditPageState.edit">{{l("Edit")}}</span>
                    <span *ngSwitchCase="EditPageState.viewDetail">{{l("View")}}</span>
                </span>
            </div>
            <div class="col text-right mt-3 mt-md-0"></div>
        </div>
    </div>
    <!-- End Header -->

    <!-- Begin Body -->
    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Master -->
                <form #editForm="ngForm" id="editForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="row col-md-12 modal-body">
                        <!-- Status -->
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <!-- Mã cụm chi tiết -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{l("Mã cụm chi tiết")}}</label>
                                <input class="form-control" type="text"
                                    [disabled]="disableInput"
                                    name="producT_GROUP_DETAIL_CODE"
                                    [(ngModel)]="inputModel.producT_GROUP_DETAIL_CODE" />
                            </div>
                        </div>

                        <!-- Tên cụm chi tiết -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{l("Tên cụm chi tiết")}}</label>
                                <input class="form-control" type="text"
                                    [disabled]="disableInput"
                                    name="producT_GROUP_DETAIL_NAME"
                                    [(ngModel)]="inputModel.producT_GROUP_DETAIL_NAME" />
                            </div>
                        </div>
                        
                        <!-- Mô tả khung -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{l("Mô tả khung")}}</label>
                                <textarea class="form-control" type="text"
                                    [disabled]='disableInput'
                                    name="description"
                                    [(ngModel)]="inputModel.description">
                                </textarea>
                            </div>
                        </div>

                        <!-- Ghi chú -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{l("Ghi chú")}}</label>
                                <textarea class="form-control" type="text"
                                    [disabled]='disableInput'
                                    name="notes"
                                    [(ngModel)]="inputModel.notes">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-12"></div>

                        <!-- Import excel 
                        <div *ngIf="editPageState != EditPageState.viewDetail || inputModel.autH_STATUS == 'A'" class="col-md-3">
                            <div class="form-group">
                                <label class='btn btn-primary' type="button"
                                    for="file-upload"
                                    style="margin-top: 6px;color:white!important">
                                    {{this.l('Import danh sách cụm chi tiết')}}
                                    <import-excel [id]="'file-upload'"
                                        [hidden]="true"
                                        [startPosition]="'A2'"
                                        [disable]="disableInput"
                                        (toArrayObject)='onImportExcel($event)'>
                                    </import-excel>
                                </label>
                            </div>
                        </div>-->

                        <!-- Tải mẫu import excel 
                        <div class="col-md-3" *ngIf="editPageState != EditPageState.viewDetail">
                            <div class="form-group">
                                <label class='btn btn-primary'
                                    (click)="exportExcelTemplate()"
                                    style="margin-top: 6px; color:white!important">
                                    {{this.l('DownloadTemplate')}}
                                </label>
                            </div>
                        </div>-->
                    </div>
                    <product-group-detail-product-detail-edittable #productDetailEditTable
                        [inputModel]="inputModel"
                        [disableInput]='disableInput'>
                    </product-group-detail-product-detail-edittable>
                </form>
                <!-- End Master -->
            </div>
        </div>
    </div>
    <!-- End Body -->
</div>